@{
    ViewData["Title"] = "Home Page";
}




<div class="container">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <div class="glyphicon glyphicon-warning-sign">
                        CONTEXTE
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                Tout a commencé le 25 septembre 2017 quand un breaking-news suspend les
                programmes des médias américains pour diffuser un message gouvernemental.
                Un couvre-feu est instauré et il est demandé à tous les habitants de se manifester
                à la zone d'évacuation la plus proche tandis que la garde nationale est mobilisée.
                Burlington est une ville du nord des États-Unis bénéficiant d'un camp de la garde
                nationale renforcé par l'armée qui s'y est établie dans la banlieue de Jericho,
                les civils continuent d'affluer tous les jours pour y trouver refuge tandis que
                d'autres préfèrent rester en terrain connu dans les rues à l'intérieur de la
                ville ou dans leur communauté comme à Essex. Quelques solitaires tentent également
                leur chance, la ville comme la forêt et les villages regorgeant de cachettes.
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <div class="glyphicon glyphicon-warning-sign">
                        ACTUS & CO
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                
                <img class="center-block" src="images/1531996816-discord.jpg" alt=""/>
                <ul>
                    <li>Nous disposons maintenant d'un serveur Discord (chat en ligne très simple d'utilisation)</li>
                    <li>Recrutement d'animateurs et d'admin en cours!</li>
                    <li>Préparation de l'event 3</li>
                    <li>L'event 2 est terminé</li>
                    <li>L'event 1 est terminé</li>
                    <li>L'event 2 est lancé</li>
                    <li>La MaJ de juin est en ligne!</li>
                    <li>Des postes importants sont disponibles! </li>
                    <li>Ouverture du forum le 27 mai 2018</li>
                </ul>

            </div>
        </div>
    </div>



    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <div class="glyphicon glyphicon-warning-sign">
                        À PROPOS
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                Le forum a été créé par Adri et le Passeur. Il a ouvert ses porte le 27 mai 2018 et l'intégralité de son contenu original
                appartient à ses administrateurs. Agonie se veut un jeu de rôle par forum, les règles sont donc proches du jeu de plateau
                et ont été simplifiées pour s'adapter à ce support. Étant donné que le forum est neuf, nous laissons une place assez large
                aux possibilités et tenons à mettre en avant la possibilité pour le forum d'évoluer avec ses joueurs. Pour plus d'informations
                sur le concept d'Agonie et son développement, se référer au message "Concept " dans les règlements.
            </div>
        </div>
    </div>
</div>

